* {
    padding: 0;
    margin: 0;
/*  初期状態からついているpaddingやmarginを消す動作  */
}

html, body {
    height: 100%;
}
body{
    padding: 0;
    padding-top:64px;
}

.align-center {
    text-align: center;
}

.document{
    color: #fff;
margin:70px;
}

.bg-img{
    background-image: url(kiban.jpg);
    /* ↑はclass:bg-imageにmokume.jpgを入れている */
    width: 100%;
    height: 200px;
    background-attachment: fixed;
    /* ↑はその画像がスクロールについてこなくしている　*/
}

.bg-img a{
     color: #28d100;
     font-size: 50px;
    margin-left: 70px;
    
     top: 70px;
     position: relative;
     /*上２つは上下方向のmarginが効かなくなっている時に空白を開けたい時*/
     text-decoration: none;
     font-family: 'Press Start 2P', cursive;
}

.bg-img a:hover{
    color: #196c06;
    text-decoration: underline;
}

nav{
    text-align: left;
    z-index: 1000;
/*    ↑これはどれだけ手前に来ているか。レイヤー的な*/
    height: 64px;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #ff0000;
    font-size: 20px;
    position: fixed;
    /*  ↑navを上のところで固定する  */
}

nav a{
    margin: 20px;
    top: 30px;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    text-decoration: none;
}

nav a:hover{
    color: #b1b1b1;
    transition: 0.3s
}

#title h1 {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    text-align: center;
    font-size: 100px;
}

.col {
    margin: 20px;
}

.col h2 span {
    color: #fff;
    border-bottom: 5px solid red;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: rgb(46, 48, 50);
    background-attachment: fixed;
    background-position: center center;
}

hooter{
    display: inline;
     background: #d800ff;
     color:#fa87fa;
}

.btn {
    margin: 70px;
    font-size: 100px;
    border-radius: 100px;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
     font-size: 150px;
}

.anm1 {
    color: rgb(127, 255, 212);
    background-color: rgb(32, 178, 170);
    border: 5px solid rgb(32, 178, 170);
}

.anm1:hover {
    color: rgb(32, 178, 170);
    background-color: rgb(127, 255, 212);
    border: 5px solid rgb(127, 255, 212);
    transition: .5s;
    box-shadow: 20px 20px 30px #00674b;
}

.anm2 {
    overflow: hidden;
    color: rgba(245, 56, 128, 0.94);
    background-color: rgba(250, 159, 194, 0.94);
    border: 5px solid rgba(250, 159, 194, 0.94);
    position: relative;
}

.anm2:hover {
    color: rgba(250, 159, 194, 0.94);
    background-color: rgba(245, 56, 128, 0.94);
    border: 5px solid rgba(245, 56, 128, 0.94);
    transition: .7s;
}

.anm2 .anm2-fowerd{
    font-size: 1rem;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(256, 256, 256, .7);
    opacity: 0;
}

.anm2:hover .anm2-fowerd{
    color: rgba(245, 56, 128, 0.94);
    top: 0;
    opacity: 1;
}

.anm3 {
    color: #fff;
    background-color: #ff0000;
    border: 5px solid #ff0000);
}

.anm3:hover {
    color: #ff0000;
    background-color: #fff;
    border: 5px solid #fff;
    transition: .7s;
    border-radius: 2px;
}

.anm4 {
    color: #4559f4;
    background-color: #152390;
    border: 5px solid #152390;
}

.anm4:hover {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    color: #152390;
    background-color: color: #4559f4;
    border: 5px solid color: #4559f4;
    transition: .7s;
    transform: rotate(360deg);
}

.anm5 {
    color: rgb(255, 143, 73);
    background-color: rgb(255, 245, 0);
    border: 5px solid rgb(255, 245, 0);
}

.anm5:hover {

    color: rgb(255, 245, 0);
    background-image: radial-gradient(circle,#ffba00,#ffe200,#ff8000);
    border: 5px solid #ffba00;
    transition: .3s;
}

.anm6 {
    color: rgb(63, 248, 63);
    background-color: rgb(24, 90, 24);
    border: 5px solid rgb(24, 90, 24);
    position: absolute;
    bottom: -70px;
    left:7px;
}



.rotateno6{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    position: relative;
    transform: 1s linner all;
    background-color: rgba(0, 255, 255, 0);
}

.rotateno6.hovered{
     transform: 1s linner all;
     transform: rotate(-360deg);
    transition: 1s;
}


.rotateno6.hovered .anm6 {
    color: rgb(40, 255, 0);
    background: none;
    border: none;
    transition: 1s;
    font-size: 150px;
}









